# Limpieza

In [1]:
import pandas as pd
df = pd.read_csv("../files/input/solicitudes_de_credito.csv", sep=";")

In [2]:
df.head()

,Unnamed: 0,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
0,0,masculino,comercio,fabrica de,prado,3,10.0,13/07/2018,5000000,microempresarial
1,1,femenino,servicio,recreativo-educativo,barrio caicedo,1,9.0,30/10/2017,6000000,microempresarial
2,2,femenino,comercio,tienda,aranjuez,2,4.0,3/08/2017,7300000,microempresarial
3,3,Masculino,comercio,variedades,cabecera san cristobal,3,60.0,20/11/2017,7000000,microempresarial
4,4,femenino,comercio,fabrica de,robledo,2,7.0,23/02/2017,5000000,microempresarial

In [3]:
df.columns

Index(['Unnamed: 0', 'sexo', 'tipo_de_emprendimiento', 'idea_negocio',
       'barrio', 'estrato', 'comuna_ciudadano', 'fecha_de_beneficio',
       'monto_del_credito', 'línea_credito'],
      dtype='object')

In [4]:
df = df.drop(columns=['Unnamed: 0'])

In [5]:
duplicados = df.duplicated()
print(f"Total de filas duplicadas: {duplicados.sum()}")

Total de filas duplicadas: 241

In [6]:
# df = df.drop_duplicates()

In [7]:
df.isnull().sum()

sexo                        0
tipo_de_emprendimiento    102
idea_negocio                0
barrio                    102
estrato                     0
comuna_ciudadano            0
fecha_de_beneficio          0
monto_del_credito           0
línea_credito               0
dtype: int64

In [8]:
df = df.dropna()
df.isnull().sum()

sexo                      0
tipo_de_emprendimiento    0
idea_negocio              0
barrio                    0
estrato                   0
comuna_ciudadano          0
fecha_de_beneficio        0
monto_del_credito         0
línea_credito             0
dtype: int64

In [9]:
df.head()

,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
0,masculino,comercio,fabrica de,prado,3,10.0,13/07/2018,5000000,microempresarial
1,femenino,servicio,recreativo-educativo,barrio caicedo,1,9.0,30/10/2017,6000000,microempresarial
2,femenino,comercio,tienda,aranjuez,2,4.0,3/08/2017,7300000,microempresarial
3,Masculino,comercio,variedades,cabecera san cristobal,3,60.0,20/11/2017,7000000,microempresarial
4,femenino,comercio,fabrica de,robledo,2,7.0,23/02/2017,5000000,microempresarial

## comuna_ciudadano

In [10]:
df.shape

(10716, 9)

In [11]:
df["comuna_ciudadano"] = df["comuna_ciudadano"].apply(lambda x: int(x))
df.head()

,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
0,masculino,comercio,fabrica de,prado,3,10,13/07/2018,5000000,microempresarial
1,femenino,servicio,recreativo-educativo,barrio caicedo,1,9,30/10/2017,6000000,microempresarial
2,femenino,comercio,tienda,aranjuez,2,4,3/08/2017,7300000,microempresarial
3,Masculino,comercio,variedades,cabecera san cristobal,3,60,20/11/2017,7000000,microempresarial
4,femenino,comercio,fabrica de,robledo,2,7,23/02/2017,5000000,microempresarial

In [12]:
len(df.comuna_ciudadano.unique())

21

## sexo

In [13]:
df["sexo"] = df["sexo"].str.lower()
df.sexo.unique()

array(['masculino', 'femenino'], dtype=object)

## tipo_de_emprendimiento

In [14]:
df["tipo_de_emprendimiento"] = df["tipo_de_emprendimiento"].str.lower()
df.head(50)

,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
0,masculino,comercio,fabrica de,prado,3,10,13/07/2018,5000000,microempresarial
1,femenino,servicio,recreativo-educativo,barrio caicedo,1,9,30/10/2017,6000000,microempresarial
2,femenino,comercio,tienda,aranjuez,2,4,3/08/2017,7300000,microempresarial
3,masculino,comercio,variedades,cabecera san cristobal,3,60,20/11/2017,7000000,microempresarial
4,femenino,comercio,fabrica de,robledo,2,7,23/02/2017,5000000,microempresarial
5,femenino,comercio,variedades,picachito,1,6,2017/05/31,7000000,microempresarial
6,femenino,industria,fabrica de,guayabal,3,15,20/02/2016,"$ 2,000,000.00",microempresarial
7,femenino,comercio,tienda,carpinelo,1,1,14/02/2017,3300000,microempresarial
8,masculino,comercio,variedades,belalcazar,2,5,7/05/2018,7800000,microempresarial
9,femenino,comercio,variedades,manrique central no. 1,1,4,2018/05/3,7800000,microempresarial
10,femenino,industria,fabrica de,manrique central no. 2,2,3,28/02/2017,4500000,microempresarial
11,masculino,agropecuaria,sembrados,santa elena central,2,90,23/12/2016,13000000,agropecuaria
12,femenino,comercio,comidas rapidas,andalucia,2,2,12/04/2018,7800000,microempresarial
13,masculino,industria,fabrica de,san javier no.1,1,13,23/08/2018,4000000,microempresarial
14,masculino,servicio,variedades,belencito,2,13,30/07/2018,7800000,microempresarial
15,masculino,comercio,miscelanea,centro admtivo,3,10,14/02/2018,1000000,microempresarial
16,femenino,comercio,variedades,cabecera san antonio,2,80,16/11/2017,7000000,microempresarial
17,femenino,servicio,cafe e internet,manrique central no. 1,3,4,29/04/2019,8000000,microempresarial
18,masculino,comercio,tienda,villa hermosa,3,8,27/06/2018,5000000,microempresarial
19,femenino,comercio,venta de calzado,playon de los,2,2,27/02/2017,7000000,microempresarial
20,femenino,comercio,productos de belleza,buenos aires,3,9,24/07/2017,7300000,microempresarial
21,masculino,comercio,tienda,manrique central no. 1,2,4,14/09/2018,6000000,microempresarial
22,femenino,comercio,tienda,popular,2,1,11/10/2018,6000000,microempresarial
23,femenino,comercio,almacen de ropa en,robledo,2,7,15/02/2018,6000000,microempresarial
24,femenino,comercio,variedades,tricentenario,3,5,20/11/2017,4000000,microempresarial
25,masculino,servicio,barberia,calasanz,2,12,26/09/2017,7377000,microempresarial
26,masculino,industria,fabrica de,aranjuez,3,4,24/10/2016,"$ 6,500,000.00",Microempresarial
27,femenino,comercio,comidas_rapidas,buenos aires,2,9,28/06/2019,1500000,microempresarial
28,masculino,comercio,variedades,andalucia,2,2,17/08/2018,7800000,microempresarial
29,femenino,servicio,peluqueria,pedregal,3,6,27/10/2017,7300000,microempresarial
30,femenino,servicio,jardineria,la francia,2,2,12/06/2017,7377000,microempresarial
31,femenino,comercio,variedades,santa cruz,2,2,14/06/2017,4000000,microempresarial
32,femenino,comercio,tienda,san javier no.1,2,13,6/02/2018,7800000,microempresarial
33,femenino,comercio,variedades,LA FLORESTA,3,12,5/09/2017,7300000,microempresarial
34,femenino,comercio,VARIEDADES,belen,3,16,16/09/2016,6890000,microempresarial
35,masculino,comercio,tienda,las brisas,3,5,2018/01/15,6000000,microempresarial
36,femenino,comercio,peluqueria,castilla,3,5,11/08/2017,2500000,microempresarial
37,masculino,industria,fabrica de alimentos,san javier no.1,2,13,27/10/2016,"$ 6,800,000.00",microempresarial
38,femenino,comercio,almacen de ropa en,cabecera san antonio,2,80,22/09/2016,4000000,Microempresarial
39,masculino,industria,variedades,cabecera san antonio,2,80,24/07/2017,5000000,credioportuno
40,masculino,industria,fabrica de,guayabal,2,15,2/03/2016,4000000,microempresarial
41,masculino,industria,fabrica de,belen,2,16,24/05/2016,6500000,microempresarial
42,femenino,comercio,comidas rapidas,santander,2,6,27/07/2018,1200000,microempresarial
43,femenino,comercio,almacen de ropa en,prado,3,10,20/11/2017,7000000,microempresarial
44,femenino,comercio,comidas rapidas,santa cruz,2,2,22/03/2018,1500000,microempresarial
45,masculino,industria,fabrica-de-traperos,ARANJUEZ,3,4,24/02/2016,"$ 2,000,000.00",microempresarial
46,femenino,comercio,variedades,castilla,3,5,15/02/2017,4000000,microempresarial
47,masculino,industria,fabrica de alimentos,san javier no.2,3,13,29/02/2016,"$ 6,890,000.00",microempresarial
49,masculino,industria,fabrica de,san javier no.1,1,13,15/08/2017,6000000,MICROEMPRESARIAL
50,masculino,servicio,variedades,pedregal,3,6,24/04/2017,7000000,microempresarial

In [15]:
df.tipo_de_emprendimiento.unique()

array(['comercio', 'servicio', 'industria', 'agropecuaria'], dtype=object)

## idea_negocio

In [16]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\EmanuelVelézSepúlved\AppData\Roaming\nltk_dat
[nltk_data]     a...
[nltk_data]   Package stopwords is already up-to-date!

True

In [17]:
nltk.download('punkt')
# Stopwords en español
stop_words = set(stopwords.words('spanish'))
def eliminar_stopwords(texto):
    palabras = word_tokenize(texto.lower())
    palabras_filtradas = [palabra for palabra in palabras if palabra.isalpha() and palabra not in stop_words]
    return ' '.join(palabras_filtradas)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\EmanuelVelézSepúlved\AppData\Roaming\nltk_dat
[nltk_data]     a...
[nltk_data]   Package punkt is already up-to-date!

In [18]:
import nltk
def create_normalized_key(df, column_name):
    """Cree una nueva columna en el DataFrame que contenga
    el key de la columna 'raw_text'"""

    df[column_name] = df[column_name].str.lower()

    df[column_name] = df[column_name].str.replace(r"[_-]", " ", regex=True)
    df = df.copy()

    # Copie la columna 'text' a la columna 'key'
    df["key"] = df[column_name]

    # Remueva los espacios en blanco al principio y al final de la cadena
    df["key"] = df["key"].str.strip()

    # Convierta el texto a minúsculas
    df["key"] = df["key"].str.lower()

    # Transforme palabras que pueden (o no) contener guiones por su
    # version sin guion (este paso es redundante por la linea siguiente.
    # Pero es claro anotar la existencia de palabras con y sin '-'.
    # Reemplazarlos por espacios


    # Remueva puntuación y caracteres de control
    df["key"] = df["key"].str.translate(
        str.maketrans("", "", "!\"#$%&'()*+,¿./:;<=>?@[\\]^`{|}~")
    )

    # Convierta el texto a una lista de tokens
    df["key"] = df["key"].str.split()    

    # Transforme cada palabra con un stemmer de Porter
    stemmer = nltk.PorterStemmer()
    df["key"] = df["key"].apply(lambda x: [stemmer.stem(word) for word in x])

    # Ordene la lista de tokens y remueve duplicados
    df["key"] = df["key"].apply(lambda x: sorted(set(x)))

    # Convierta la lista de tokens a una cadena de texto separada por espacios
    df["key"] = df["key"].str.join(" ")

    return df

In [19]:
def generate_cleaned_text(df, column_name):
    """Crea la columna 'cleaned_text' en el DataFrame"""

    keys = df.copy()

    # Ordene el dataframe por 'key' y 'text'
    keys = keys.sort_values(by=["key", column_name], ascending=[True, True])

    # Seleccione la primera fila de cada grupo de 'key'
    keys = df.drop_duplicates(subset="key", keep="first")

    # Cree un diccionario con 'key' como clave y 'text' como valor
    key_dict = dict(zip(keys["key"], keys[column_name]))

    # Cree la columna 'cleaned' usando el diccionario
    df["cleaned_text"] = df["key"].map(key_dict)

    df = df.drop(columns =["key", column_name])
    # df = df.drop(columns =["key"])

    df = df.rename(columns={"cleaned_text": column_name})

    return df

In [20]:
df = create_normalized_key(df, "idea_negocio")
df = generate_cleaned_text(df, "idea_negocio")
df["idea_negocio"] = df["idea_negocio"].apply(eliminar_stopwords)
df.head(10)

,sexo,tipo_de_emprendimiento,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito,idea_negocio
0,masculino,comercio,prado,3,10,13/07/2018,5000000,microempresarial,fabrica
1,femenino,servicio,barrio caicedo,1,9,30/10/2017,6000000,microempresarial,recreativo educativo
2,femenino,comercio,aranjuez,2,4,3/08/2017,7300000,microempresarial,tienda
3,masculino,comercio,cabecera san cristobal,3,60,20/11/2017,7000000,microempresarial,variedades
4,femenino,comercio,robledo,2,7,23/02/2017,5000000,microempresarial,fabrica
5,femenino,comercio,picachito,1,6,2017/05/31,7000000,microempresarial,variedades
6,femenino,industria,guayabal,3,15,20/02/2016,"$ 2,000,000.00",microempresarial,fabrica
7,femenino,comercio,carpinelo,1,1,14/02/2017,3300000,microempresarial,tienda
8,masculino,comercio,belalcazar,2,5,7/05/2018,7800000,microempresarial,variedades
9,femenino,comercio,manrique central no. 1,1,4,2018/05/3,7800000,microempresarial,variedades

In [21]:
len(df.idea_negocio.unique())

75

## Barrio

In [22]:
df["barrio"] = df["barrio"].str.lower()
df["barrio"] = df["barrio"].str.replace(r"[_-]", " ", regex=True)
len(df.barrio.unique())

225

In [23]:
df.dtypes

sexo                      object
tipo_de_emprendimiento    object
barrio                    object
estrato                    int64
comuna_ciudadano           int64
fecha_de_beneficio        object
monto_del_credito         object
línea_credito             object
idea_negocio              object
dtype: object

## monto_del_credito

In [24]:
df["monto_del_credito"] = df["monto_del_credito"].map(
    lambda x: x.replace("$", "").strip() if isinstance(x, str) else x
)
df.head()

,sexo,tipo_de_emprendimiento,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito,idea_negocio
0,masculino,comercio,prado,3,10,13/07/2018,5000000,microempresarial,fabrica
1,femenino,servicio,barrio caicedo,1,9,30/10/2017,6000000,microempresarial,recreativo educativo
2,femenino,comercio,aranjuez,2,4,3/08/2017,7300000,microempresarial,tienda
3,masculino,comercio,cabecera san cristobal,3,60,20/11/2017,7000000,microempresarial,variedades
4,femenino,comercio,robledo,2,7,23/02/2017,5000000,microempresarial,fabrica

In [25]:
# Se elimina el '.' de los miles
df["monto_del_credito"] = df["monto_del_credito"].apply(
    lambda x: float(x.replace(",", "")) if isinstance(x, str) else x
)
df.head()

,sexo,tipo_de_emprendimiento,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito,idea_negocio
0,masculino,comercio,prado,3,10,13/07/2018,5000000.0,microempresarial,fabrica
1,femenino,servicio,barrio caicedo,1,9,30/10/2017,6000000.0,microempresarial,recreativo educativo
2,femenino,comercio,aranjuez,2,4,3/08/2017,7300000.0,microempresarial,tienda
3,masculino,comercio,cabecera san cristobal,3,60,20/11/2017,7000000.0,microempresarial,variedades
4,femenino,comercio,robledo,2,7,23/02/2017,5000000.0,microempresarial,fabrica

## linea_credito

In [26]:
df = create_normalized_key(df, "línea_credito")
df = generate_cleaned_text(df, "línea_credito")
df["línea_credito"] = df["línea_credito"].apply(eliminar_stopwords)
df.head()

,sexo,tipo_de_emprendimiento,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,idea_negocio,línea_credito
0,masculino,comercio,prado,3,10,13/07/2018,5000000.0,fabrica,microempresarial
1,femenino,servicio,barrio caicedo,1,9,30/10/2017,6000000.0,recreativo educativo,microempresarial
2,femenino,comercio,aranjuez,2,4,3/08/2017,7300000.0,tienda,microempresarial
3,masculino,comercio,cabecera san cristobal,3,60,20/11/2017,7000000.0,variedades,microempresarial
4,femenino,comercio,robledo,2,7,23/02/2017,5000000.0,fabrica,microempresarial

In [27]:
len(df.línea_credito.unique())
df.línea_credito.unique()

array(['microempresarial', 'agropecuaria', 'credioportuno',
       'empresarial ed', 'juridica', 'soli diaria', 'solidaria',
       'ayacucho formal', 'fomento agropecuario'], dtype=object)

## fecha_de_beneficio

In [28]:
df.shape #(10475, 9)

(10716, 9)

In [29]:
import pandas as pd
# Función para normalizar fechas (descarta las ambiguas)
def normalizar_fecha_o_none(fecha):
    if isinstance(fecha, str) and '/' in fecha:
        partes = fecha.split('/')
        if len(partes) == 3 and len(partes[0]) == 4:
            anio, mes, dia = partes
            if int(mes)==int(dia):
                print("son iguales", fecha)
                return f"{dia.zfill(2)}/{mes.zfill(2)}/{anio}"
            elif int(mes) <= 12 and int(dia) <= 12:
                # Fecha ambigua, descartamos
                print("son menores", fecha)
                
                return f"{dia.zfill(2)}/{mes.zfill(2)}/{anio}"
            elif int(mes) > 12 and int(dia) > 12:
                print("son mayores", fecha)
                return None
            else:
                # Fecha no ambigua, normalizamos
                return f"{dia.zfill(2)}/{mes.zfill(2)}/{anio}"
                # return None
        else:
            return fecha

# Aplicar la función
df['fecha_de_beneficio'] = df['fecha_de_beneficio'].apply(normalizar_fecha_o_none)

# Eliminar filas con fechas ambiguas (que ahora son None)
df = df[df['fecha_de_beneficio'].notna()]

son menores 2018/05/3
son menores 2017/02/8
son menores 2017/03/2
son menores 2018/06/7
son menores 2018/07/9
son menores 2018/03/6
son menores 2018/04/3
son menores 2017/12/6
son menores 2018/05/4
son menores 2017/08/10
son menores 2017/02/1
son iguales 2018/06/6
son menores 2017/10/12
son menores 2016/09/1
son menores 2017/10/4
son menores 2018/04/9
son menores 2016/10/12
son menores 2016/06/10
son menores 2017/05/10
son menores 2018/11/1
son menores 2017/11/2
son menores 2016/04/7
son menores 2018/07/6
son menores 2018/04/3
son menores 2018/01/3
son menores 2017/03/10
son menores 2016/11/8
son menores 2018/07/3
son menores 2017/09/4
son menores 2017/08/1
son menores 2016/10/6
son iguales 2017/08/8
son menores 2018/03/2
son menores 2017/01/10
son menores 2018/11/1
son menores 2017/04/3
son menores 2017/06/2
son menores 2017/06/2
son menores 2018/06/7
son menores 2017/02/1
son menores 2019/02/7
son menores 2017/08/4
son menores 2018/03/8
son menores 2018/05/7
son menores 2018/04/11
son menores 2016/08/5
son menores 2018/07/5
son menores 2017/04/7
son menores 2016/05/10
son iguales 2018/04/4
son menores 2018/05/9
son menores 2018/10/11
son menores 2016/07/8
son menores 2017/09/8
son menores 2017/09/6
son menores 2017/11/8
son menores 2017/08/4
son menores 2017/08/2
son menores 2018/06/1
son menores 2017/04/3
son menores 2018/09/5
son menores 2019/03/5
son menores 2018/04/9
son iguales 2016/07/7
son menores 2018/09/4
son menores 2017/04/5
son iguales 2017/04/4
son menores 2018/03/9
son menores 2018/11/2
son menores 2018/05/2
son menores 2016/06/3
son menores 2017/02/9
son menores 2019/06/5
son menores 2016/10/5
son menores 2018/07/9
son menores 2019/05/3
son menores 2018/04/9
son menores 2018/08/6
son iguales 2019/06/6
son iguales 2017/03/3
son menores 2017/09/5
son menores 2017/08/10
son menores 2017/10/5
son menores 2018/11/9
son menores 2016/03/2
son iguales 2016/10/10
son menores 2018/06/7
son iguales 2018/04/4
son menores 2016/11/4
son menores 2017/11/8
son menores 2016/08/1
son menores 2017/10/12
son menores 2018/08/1
son menores 2017/11/7
son menores 2018/09/3
son iguales 2017/02/2
son menores 2016/12/7
son menores 2018/07/4
son menores 2018/07/12
son menores 2017/08/1
son menores 2018/12/11
son menores 2018/11/8
son menores 2018/05/11
son menores 2017/02/10
son iguales 2017/02/2
son menores 2016/12/1
son menores 2019/04/5
son menores 2016/02/4
son menores 2017/10/12
son menores 2018/07/6
son menores 2018/03/2
son menores 2018/12/5
son menores 2016/10/11
son menores 2018/07/12
son menores 2016/06/8
son menores 2018/11/1
son menores 2019/03/12
son menores 2019/01/9
son menores 2018/03/2
son menores 2018/04/10
son menores 2018/09/4
son menores 2016/09/12
son menores 2016/06/3
son iguales 2018/08/8
son menores 2016/11/8
son menores 2018/08/6
son menores 2016/04/7
son menores 2017/06/5
son menores 2017/04/3
son menores 2018/11/6
son menores 2016/08/12
son menores 2018/07/11
son menores 2016/03/7
son menores 2018/09/5
son menores 2016/08/9
son menores 2017/10/12
son menores 2018/02/1
son menores 2017/10/2
son menores 2016/08/10
son menores 2018/02/5
son menores 2018/03/9
son menores 2016/10/4
son menores 2018/09/4
son menores 2018/10/3
son menores 2018/03/1
son menores 2017/06/8
son menores 2017/06/7
son menores 2018/02/6
son menores 2016/09/8
son menores 2018/07/12
son menores 2016/08/9
son menores 2016/11/9
son menores 2017/10/6
son menores 2018/04/3
son menores 2018/12/4
son menores 2016/03/1
son iguales 2016/07/7
son menores 2019/01/9
son menores 2016/07/12
son menores 2017/07/5
son menores 2017/02/7
son menores 2017/12/7
son menores 2017/07/11
son menores 2016/06/3
son menores 2017/11/1
son menores 2016/02/9
son menores 2018/04/3
son menores 2017/08/9
son menores 2016/06/3
son menores 2016/12/6
son menores 2018/06/1
son menores 2018/06/8
son menores 2017/11/10
son menores 2019/05/8
son menores 2017/05/3
son menores 2018/07/12
son menores 2018/03/7
son menores 2018/07/10
son menores 2018/05/8
son menores 2016/12/7
son menores 2017/09/5
son menores 2017/01/6
son menores 2017/01/10
son menores 2017/01/10
son menores 2017/11/8
son menores 2018/05/8
son iguales 2019/06/6
son menores 2018/11/6
son menores 2017/04/5
son menores 2017/10/6
son menores 2016/12/1
son menores 2018/12/5
son menores 2016/08/1
son menores 2018/03/6
son menores 2017/08/2
son menores 2017/05/3
son menores 2017/08/10
son menores 2018/06/8
son menores 2016/04/1
son menores 2018/11/7
son menores 2017/10/4
son menores 2018/02/7
son menores 2018/01/11
son menores 2018/12/5
son menores 2017/06/8
son menores 2017/09/6
son menores 2017/01/4
son menores 2017/01/4
son menores 2019/01/4
son menores 2018/06/7
son iguales 2016/02/2
son menores 2018/06/5
son menores 2017/11/7
son menores 2017/02/6
son menores 2017/04/6
son menores 2018/02/8
son menores 2017/06/8
son menores 2018/05/2
son menores 2019/06/11
son menores 2018/03/6
son menores 2017/10/5
son menores 2016/11/10
son menores 2017/10/2
son menores 2017/05/9
son menores 2017/03/8
son menores 2017/09/5
son menores 2019/06/7
son menores 2018/12/4
son menores 2017/03/7
son menores 2016/11/8
son menores 2018/05/2
son menores 2018/03/8
son menores 2017/06/8
son menores 2017/03/10
son iguales 2017/06/6
son menores 2018/07/5
son menores 2017/07/6
son menores 2018/05/3
son menores 2019/03/12
son iguales 2017/05/5
son iguales 2018/08/8
son menores 2016/09/7
son menores 2018/07/3
son menores 2018/05/11
son iguales 2017/10/10
son menores 2017/07/10
son menores 2017/12/5
son menores 2018/10/3
son menores 2018/04/12
son menores 2017/10/11
son menores 2017/05/10
son menores 2018/05/10
son menores 2017/12/11
son menores 2018/06/1
son menores 2018/05/8
son menores 2017/04/7
son menores 2017/12/7
son menores 2017/02/6
son menores 2018/10/11

In [30]:
# Convertir la columna a tipo datetime
# Convertir a datetime y forzar errores a NaT
df['fecha_de_beneficio'] = pd.to_datetime(df['fecha_de_beneficio'], format='%d/%m/%Y', errors='coerce')

# Eliminar filas donde la conversión falló (NaT)
df = df[df['fecha_de_beneficio'].notna()]

In [31]:
len(df.fecha_de_beneficio.value_counts().to_list())#795

795

In [32]:
df.duplicated().sum()

np.int64(510)

In [33]:
df = df.drop_duplicates()

In [34]:
df.sexo.value_counts().to_list() ##[6617, 3589]

[6617, 3589]

In [35]:
df.tipo_de_emprendimiento.value_counts().to_list()

[5636, 2205, 2201, 164]